<!DOCTYPE html>
<!---index for gallery page-->
<html>

	<head>
		<meta charset="UTF-8">
		<title>The <%=@gallery.name%> Gallery</title>
		<link rel="stylesheet" href="appliimageion.css">
	</head>


	<body>
		<h1>The <%=@gallery.name%> Gallery</h1>
		<h2> <a href= "/galleries/<%=@gallery.id%>/edit">Edit Gallery Name</a></h2>
			<form method ="POST" action ="/galleries/<%=@gallery.id%>">
				<input type = "Hidden" name = "_method" value = "DELETE">
				<input type = "submit" value = "Delete this gallery">
			</form>
			<h2> <a href = "/galleries/<%=@gallery.id%>/images/new">Add image to gallery </a> </h2>
		<%= "Woooosh!" %>
		<p> The gallery of <%=@gallery.name%>s. Show off your super-dee-duper <%=@gallery.name%> powers here!</p>
		<% @images.each do |image| %>
 		 <img src="<%=image.url%>" alt= "<%=image.name%>">
		<% end %>

<!-- 			<img src="Zack.jpg" alt= "No pic!">
			<img src="Redclaw.jpg" alt = "No pic!">
			<img src="kitty.jpg" alt = "No pic!">
			<img src="colonel_meow.jpg" alt = "No pic!"> -->

	</body>

</html>